.reservaciones-container {
  background-color: #d6cfbb;
  padding: 2rem 10px 2rem 2rem;
  max-width: 900px;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
  color: #12361f;
}

.reservaciones-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: flex-end;
}


.reservaciones-message {
  text-align: center;
  color: #256b67;
  font-style: italic;
  margin-bottom: 1rem;
}

.reservaciones-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.reservacion-item {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 2rem;
  width: 280px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.reservacion-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  border-left: 5px solid #256b67;
}

.reservacion-item p {
  margin: 0.5rem 0;
}

.reservacion-item strong {
  color: #0d2a38;
}
